.global-banner {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 16px 0;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10000;

  p {
    color: #fff;
    padding: 0 100px;

    @media (max-width: 640px) {
      padding: 0 60px;
      font-size: 14px;
    }

    @media (max-width: 480px) {
      padding: 8px 48px 0 16px;
    }

    a:hover {
      color: lightgrey;
    }
  }

  svg {
    color: #fff;
    font-size: 1em;
  }

  .MuiIconButton-root {
    position: absolute;
    right: 32px;

    @media (max-width: 640px) {
      right: 16px;
    }

    @media (max-width: 480px) {
      right: 8px;
    }
  }

  //   @media (max-width: );
}
